/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: "Antic Didone", serif;
}

/*Header*/
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    top : 0;
    left: 0;
    padding: 20px;
    height: 50px;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    justify-content: space-between;
}

header ul li a{
    margin : 10px 20px;
    text-decoration: none;
    color: inherit;
}

header ul li a:hover .Orange{
    color: orangered;
}
/*Header Done - Commit 1*/

/*Sticky Nav*/

nav{
    background-color: antiquewhite;
    padding: 20px;
    top: -0.5px; /*top is distance from last item I guess*/
    position: sticky;
    z-index: 1;
}

nav ul {
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    max-width: 1200px;
    margin : 0 auto;
    list-style-type: none;
}

nav li{
    width: 12.5%;
    display: inline-block;
    font-size: 24px;
}

nav li img{
    width: 80%;
}

nav li a {
    text-decoration: none;
    color: black;
}

.PositionDeroulant{
    position: relative;
    display: inline-block;
}

.deroulant{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    box-shadow: 0px 8px 16px 0px lightgray;
    z-index: 1;
}

.PositionDeroulant:hover .deroulant{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: self-start;   
    /*DropDown Menu Bugged align-items center from nav ul*/
    background-color: antiquewhite;
}

.deroulant li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

/*Nav sticky not working well - Commit 2*/
/*Fixed with top */

/*Banner*/

.banner{
    width: 100%;
    margin-top: 0;
}

/*Miss Scroll-Down animation, Fixed Sticky Nav - Commit 3*/

/*Main Text Area*/

main{
    height: 60%;
    display: flex;
    flex-direction: row;
    line-height: 25px;
    letter-spacing: 3px;
    margin: 5% 7%;
    height: 50%;
}

img {
    display: block;
    margin: 20px auto;
}

main p strong{
    color: orangered;
    font-style: italic;
}

.left{
    width: 50%;
    height: 85vh;
    margin-right: 10px;
}

.right{
    width: 50%;
    margin-left: 10px;
}

/*Main Complete - Commit 4*/

/*Banner Footer*/

/*Same Base CSS as Top Banner*/

.HomeBanner{
    position: relative;
    text-align: center;
    color: white;
}


.HomeBanner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

/*Seems about right, Huge blank between main and img*/ 

/*Will Lokk up to this later - Commit 5*/

