/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: "Antic Didone", serif;
}

/*Header*/
header{
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    top : 0;
    left: 0;
    padding: 20px;
    height: 50px;
    align-items: center;
}

header ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    justify-content: space-between;
}

header ul li a{
    margin : 10px 20px;
    text-decoration: none;
    color: inherit;
}

header ul li a:hover .Orange{
    color: orangered;
}
/*Header Done - Commit 1*/

/*Sticky Nav*/

nav{
    background-color: #f6f6f5;
    padding: 20px;
    top: -0.5px; /*top is distance from last item I guess*/
    position: sticky;
    z-index: 1;
    box-shadow: 0px 0px 16px 0px #676767;
}

nav ul {
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    max-width: 1200px;
    margin : 0 auto;
    list-style-type: none;
}

nav li{
    width: 12.5%;
    display: inline-block;
    font-size: 24px;
}

nav li img{
    width: 80%;
}

nav li a {
    text-decoration: none;
    color: black;
}

.PositionDeroulant{
    position: relative;
    display: inline-block;
}

.deroulant{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px lightgray;
    z-index: 1;
}

.PositionDeroulant:hover .deroulant{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: self-start;   
    /*DropDown Menu Bugged align-items center from nav ul*/
    background-color: #f6f6f5 ;
}

.deroulant li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
}

/*Nav sticky not working well - Commit 2*/
/*Fixed with top */

/*Banner*/

.banner{
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

/*Miss Scroll-Down animation, Fixed Sticky Nav - Commit 3*/

/*Main Text Area*/

main{
    height: 60%;
    display: flex;
    flex-direction: row;
    line-height: 25px;
    letter-spacing: 3px;
    margin: 5% 7%;
    height: 50%;
}

img {
    display: block;
    margin: 20px auto;
}

main p strong{
    color: orangered;
    font-style: italic;
}

.left{
    width: 50%;
    height: 85vh;
    margin-right: 10px;
}

.right{
    width: 50%;
    margin-left: 10px;
}

/*Main Complete - Commit 4*/

/*Banner Footer*/

/*Same Base CSS as Top Banner*/

.HomeBanner{
    position: relative;
    text-align: center;
    color: white;
}


.HomeBanner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: fit-content;
}

/*Seems about right, Huge blank between main and img*/ 

/*Will Lokk up to this later - Commit 5*/


/*Footer*/

footer{
    display: flex;
    flex-direction: row;
    background-color: #17c1c1da;
    color: white;
    height: 450px;

}

footer section h3{
    padding: 10px;
    margin: 20px 10px;
}

footer .blanc {
    color: orangered;
    text-decoration: none;
}

footer .blanc:hover{
    color: white;
}

/*Column 1*/

.col1{
    width: 15%;
}

.col1 img{
    height: 150px;
    margin-bottom: 10px;

}

/*Column 2*/

.col2{
    width: 30%;
}

.col2 ul{
    list-style-type: none;
}

.col2 ul li {
    margin: 30px;
    border: none;
    border-bottom: 1px dashed white;
    width: 50%;
}

.col2 ul li a{
    text-decoration: none;
    color: white;
}

.col2 ul li a:hover i{
    color : white;
}

.col2 ul li a::after{
    content: "\A";
    white-space: pre;
}


/*Column 3*/

.col3{
    width: 30%;
    display: flex;
    flex-direction: column;
    /*justify-content:space-evenly*/
}

.col3 h4{
    margin-bottom: 20px;
}

.col3 p{
    width: 60%;
    margin: 20px
}

/*Column 4*/

.col4{
    width: 25%;

}

/*Miss Fb PopUp - Commit 6*/

/*CopyRight Footer*/

.copyright{
    background-color: black;
    color: white;
}


/*Would be great being centered*/

/*Done - Commit 7*/


/*Media Queries*/

/*No Display for Mobile Use*/

.Mobile{
    display: none;
}

@media screen and (max-width:960px){

    /*Header*/

    .Mobile {
        display: initial;
    }

    header{
        display: none;
    }

    .HeaderMob{
        background-color: black;
        padding: 10px;
        color: white;
        border-radius: 20px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        z-index: 1;
    }

    /*Nav*/

    nav ul{
        display: none;
    }

    nav .BrowseMob{
        display: flex;
        background-color: #f6f6f5;
        justify-content: flex-end;
    }

    nav .BrowseMob button{
        background-color: #f6f6f5;
        border: 3px solid lightgrey;
        padding: 10px;
    }

    /*ON CLICK ? */

    button:hover{
        color: orangered;
    }   






}